.form {
  padding: 10px 30px;
}

.cvForm {
  padding: 20px;
  width: fit-content;
  animation: fadeIn 0.9s ease-in-out;
}

.general-info > p {
  margin: 0;
}

.general-title {
  font-size: 25px;
  font-weight: 500;
}

.general-desc {
  color: grey;
}

label {
  display: block;
  padding-top: 25px;
  padding-bottom: 5px;
}

input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
}

button {
  background-color: rgb(63, 63, 63);
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: 0 solid transparent;
  margin-top: 20px;
  transition: background-color, color, 0.3s ease;
}

button:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(63, 63, 63);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  width: 50%;
}

.done:hover {
  background-color: rgb(32, 160, 32);
  color: rgb(224, 224, 224);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
