.cv-preview {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.general-section > h1,
.general-infos > p {
  margin: 0;
}

.general-section > h1 {
    text-transform: uppercase;
}

.general-infos {
    font-weight: 300;
}
