.cv-preview {
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.general-section > h1,
.general-infos > p {
  margin: 0;
}

.general-infos {
  display: flex;
  justify-content: space-between;
}
