.title {
  text-align: center;
  height: 70vh;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

body {
  margin: 0;
}

.title > h1,
h2 {
  margin: 0;
}

.title > h1 {
  font-size: 70px;
  font-weight: 700;
}

.title > h2 {
  color: grey;
  font-size: 30px;
  font-weight: 300;
}
